/* frontend/src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');


.App {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.body {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}


.App{
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}


.input {
  font-family: "SF Pro";
  max-width: 190px;
  padding: 0.875rem;
  margin-right: 20px;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

.input:focus {
  box-shadow: 5.5px 7px 0 black;
}


button {
  font-size: 16px;
  padding: 1em 3.3em;
  cursor: pointer;
  transform: perspective(200px) rotateX(15deg);
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    0deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 135, 252, 1) 100%
  );
  box-shadow: rgba(63, 94, 251, 0.2) 0px 40px 29px 0px;
  will-change: transform;
  transition: all 0.3s;
  border-bottom: 2px solid rgba(70, 135, 252, 1);
}

button:hover {
  transform: perspective(180px) rotateX(30deg) translateY(2px);
}

button:active {
  transform: perspective(170px) rotateX(36deg) translateY(5px);
}
